@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --foreground-rgb: 255, 255, 255;
  --background-start-rgb: 14, 47, 100;
  --background-end-rgb: 0, 0, 0;
}

@font-face {
  font-family: Hasklig;
  src: url('/fonts/Hasklig-Regular.ttf');
  font-weight: 400;
}

*,
::before,
::after {
  font-family: Hasklig;
}

body {
  color: rgb(var(--foreground-rgb));
  background: linear-gradient(to bottom, transparent, rgb(var(--background-end-rgb))) rgb(var(--background-start-rgb));
  margin: 0;
  padding: 0;
  background-position: center 0;
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-size: cover;
}
